body{
    background: url("../img/soft_circle_scales.png");
}

.h-1{

    margin: 30px 30px 0px 200px;
}
.well{

}
.z-avto{
    margin: 10px 30px 5px 20px;
}
.p-avto{
    margin: 10px 30px 5px 20px;
}
.inp-avto{
    width: 200px;
    margin: 5px;


}
.inp-sub{
    width: 100px;
    margin: 0 0 0 5px;
}
.form-control{


}

    input[type="submit"]{
     border: 0;
    background:-webkit-linear-gradient(10deg,red 20%,mediumvioletred 80%);
    color: #fff;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    }
    input[type="submit"]:hover{
    color: #000;
   }
