body{
    background: #c71585 url("imges/F2.jpg")  top no-repeat;

    background-attachment: fixed;
    background-size: 100%;
    font-size: 14px;
}
#contener{
   position: relative; 
    max-width: 1200px;
    background: #fff center;
    height: 1500px;
    margin: 0 auto;
    
    box-shadow: 0 0 10px black;
}
header{

    background: #99d1de url("imges/F3.jpg")  top no-repeat ;

    height:21% ;
    background-size: 70%;


}
/*Навигация*/
aside{
    background: yellow;
    text-align: center;
    height: 3%;
}
aside a{
    color: #000;
    text-decoration: none;
    margin: 0 30px;
}
aside a:hover{
    color: green;
}
/*основной контент*/
section{
    position: relative;
    height: 66%;
    vertical-align:top;
    overflow: scroll;
}
.s-block{
    position: relative;
    height: 250px;
    margin: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section img{
    float: left;
    margin: 0 10px;
   width: 200px;
    
}
.s-title{


    font-family: cursive;
    font-size: 19px;
    margin:0 0 0 220px;
}
.s-text{

    font-size: 14px;
    margin: 10px 0 0 220px;
}

/*подвал*/
footer{
    position: static;
   width: 100%;
    background: greenyellow;
    text-align: center;
    height: 10%;
}
.foo-block{
    float: left;
}
.foo-block a{
    color: aliceblue;
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin: 2px 50px;
}
.foo-block a:hover{
    color: chartreuse;
}






















